html {
    font-family: Outfit, Outfit Fallback;
    font-style: normal;
    font-weight: 300px;
    color: #132b39;
}

body {
    margin: 0;
}

.navbar-container {
    /* border-bottom: #000 2px solid; */
}

.navbar-items {
    background-color: #fff;
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: center;
}

.navbar-items li {
    padding: 20px 25px;
    transition: 0.3s ease;
}

.navbar-items a {
    color: #000;
    text-decoration: none;
}

.navbar-items li:hover {
    transform: translateY(-4px);
    background-color: #f5f5f5;
}

.about-container {
    display: flex;
}