html {
    font-family: "Inter", sans-serif;
    /* font-family: Outfit, Outfit Fallback; */
    font-style: normal;
    font-weight: 300px;
    color: #222222;
}

body {
    margin: 0;
    padding-top: 65px;
    background-color: #f5f5f5;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: #9d9d9d 1px 1px 4px;
    font-size: 20px;
    background-color: #fffffff8;
    border: red 1px solid;
}

.navbar-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: center;
}

.navbar-items li {
    transition: 0.3s ease;
}

.navbar-items a {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    color: #000;
    text-decoration: none;
}

.navbar-items li:hover {
    transform: translateY(-4px);
    background-color: #f5f5f5;
}

#banner-section {
    width: 100%;
    background-image: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(196, 229, 255, 1) 46%, rgba(207, 140, 140, 1) 100%);
}

#banner-container {
    margin: 0 auto;
    border: red 1px solid;
    display: flex;
    height: 850px;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Fira Code", monospace;
    font-size: 28px;
    font-weight: normal;
}

#title-container {
    max-width: 400px;
    width: 100%;
}

.name, .title {
    box-sizing: border-box;
    color: #222222;
    margin: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
}

#about-section {
    width: 100%;
}

.about-container {
    margin: 0 auto;
    border: red 1px solid;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.presentation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.section-title {
    font-size: 38px;
}

.section-subtitle {
    margin: 0;
    font-size: 20px;
    padding: 5px;
    background-color: #fff;
    text-align: center;
}

.bold-highlight {
    font-weight: bold;
}

.presentation-text {
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
    box-sizing: border-box;
}

.presentation-title {
    font-size: 38px;
    font-weight: bold;
}

.main-image {
    background-image: url("../assets/rafael_.JPG");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
    box-sizing: border-box;
    border: #fff 10px solid;
    align-self: center;
}

#technologies-section {
    width: 100%;
}

.technologies-container {
    margin: 0 auto;
    padding: 100px 0px;
    border: red 1px solid;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.technologies-icons {
    margin-top: 30px;
    display: flex;
}

.technologies-icons ul {
    display: flex;
    gap: 20px;
    padding-left: 0;
    flex-wrap: wrap;
    color: #000;
    list-style: none;
    justify-content: center;
}

.technologies-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 5%;
    background-image: radial-gradient(rgb(218, 244, 255) 0%, rgb(196, 229, 255) 100%);
    transition: 0.3s;
}

.technologies-icons li:hover {
    transform: scale(1.2);
}

.technologies-icons li i {
    font-size: 90px;
    color: #222222;
}

#projects-section {
    width: 100%;
}

.projects-container {
    margin: 0 auto;
    padding: 100px 0px;
    border: red 1px solid;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.projects {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    justify-content: center;
}

.project {
    display: flex;
    width: 400px;
    height: 500px;
    background-color: rgba(186, 186, 186, 0.2);
    box-shadow: 1px 1px 5px #f5f5f5;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    transition: 0.3s ease;
    margin: 5px;
}

.project p {
    border-radius: 5px;
    width: 90%;
    margin-top: 0;
    background-color: rgb(255, 255, 255, 0.2);
    padding-top: 20px;
}

.project:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 90%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

#img1 {
    background-image: url("../assets/jump-game.png");
}

#img2 {
    background-image: url("../assets/worst-day.png");
}

#img3 {
    background-image: url("../assets/look-game.png");
}

#img4 {
    background-image: url("../assets/spring.png");
    background-color: #fff;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

#contact-section {
    width: 100%;
}

.contact-container {
    margin: 0 auto;
    padding: 100px 0px;
    border: red 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.contacts {
    padding-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin: 5px 0px;
    width: 400px;
    box-sizing: border-box;
    resize: none;
}

.contact-form textarea {
    height: 150px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials-container i {
    font-size: 50px;
    margin: 0px 20px;
    transition: 0.3s ease;
    color: #222222;
}

.socials-container i:hover {
    color: #0438c7;
    transform: scale(1.05);
}

footer {
    width: 100%;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    border: red 1px solid;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-container a {
    text-decoration: underline;
    color: #132b39;
}

@media (max-width: 1278px) {
    .presentation-container {
        gap: 60px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-subtitle {
        font-size: 18px;
        padding: 4px;
    }

    .presentation-text {
        font-size: 18px;
        max-width: 400px;
    }

    .presentation-title {
        font-size: 32px;
    }

    .main-image {
        height: 450px;
        width: 350px;
    }
}


@media (max-width: 958px) {
    .presentation-container {
        gap: 40px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 16px;
        padding: 4px;
    }

    .presentation-text {
        font-size: 16px;
        max-width: 350px;
    }

    .presentation-title {
        font-size: 28px;
    }

    .main-image {
        height: 350px;
        width: 300px;
    }

    .project {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 55px;
    }

    .navbar-container {
        font-size: 16px;
    }

    .navbar-items a {
        padding: 18px 12px;
    }


    .presentation-text {
        order: 1;
    }

    .main-image {
        height: 350px;
        width: 350px;
        border-radius: 50%;
    }

    .project {
        width: 350px;
        height: 450px;
    }
}

@media (max-width: 450px) {
    body {
        padding-top: 45px;
    }

    .navbar-container {
        font-size: 14px;
    }

    .navbar-items a {
        padding: 15px 10px;
    }

    .name {
        font-size: 22px;
    }

    #title-container {
        max-width: 250px;
    }

    .title {
        font-size: 22px;
        padding-left: 40px;
    }

    .presentation-container {
        flex-direction: column;
        align-items: center;
    }

    .main-image {
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

    .technologies-icons li {
        width: 100px;
        height: 100px;
    }

    .technologies-icons li i {
        font-size: 60px;
        color: #222222;
    }

    .projects-list {
        padding: 0;
        justify-content: center;
    }

    .contact-form input, .contact-form textarea {
        width: 280px;
    }

    .footer-container {
        font-size: 14px;
    }
    }

    
    @media (max-width: 390px) {
        .main-image {
        height: 300px;
        width: 300px;
        }

        .presentation-text {
            font-size: 14px;
        }

        .presentation-title {
            font-size: 24px;
        }

        .project {
            width: 300px;
            height: 350px;
        }

        .project p {
            padding-top: 0px;
            font-size: 12px;
        }
    }

    @media (max-width: 360px) {
        .main-image {
        height: 250px;
        width: 250px;
        }

        .project {
            width: 250px;
            height: 300px;
        }
    }
